<!DOCTYPE html>
<html>
  <head>
    <title>Hermes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <%= stylesheet_link_tag params[:controller], media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag params[:controller], 'data-turbolinks-track' => 'reload' %>
  </head>
  <%= yield %>
</html>
